---
import Layout from '../layouts/Layout.astro';
import { playlists } from '@/lib/data';
import PlaylistItemCard from '@/components/PlaylistItemCard.astro';
// console.log(playlists)
---

<Layout title="Welcome to Astro.">
	<div id="playlist-container" class="relative h-full transition-all duration-1000 bg-green-500 opacity-80">
		<!-- Page Header -->
		<div class="relative z-10 px-6">
			<h1 class="text-4xl font-bold italic leading-relaxed text-zinc-100">Buenos días</h1>
			<div class="flex flex-wrap gap-4 mt-6">
				{
					playlists.map(playlist => <PlaylistItemCard playlist={playlist}/>) 
				}
			</div>
			
		</div>
		<div class="absolute inset-0  bg-gradient-to-t from-zinc-900 via-zinc-900/80"></div>
	</div>
</Layout>

<style>
	
	
</style>
